body {
    font-family: Arial, sans-serif;
    background-image: url(xx.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #2857a7 ;
    padding: 20px;
    border-radius: 18px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: #fff;
}

input, select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ebe5e5;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #080826;
}

.info {
    text-align: center;
    margin-top: 10px;
}
.info p{
    color: #fff;
}